<h1>Calculate the square root of a number</h1>

<form action="/square_root/results"> 
  <label for="squared_root_number">Enter a number</label>

  <input id="squared_root_number" type="text" name="users_number">

  <button>Calculate square root</button>
</form>
