<h1>Calculate the square of a number</h1>

<form action="/square/results"> 
  <label for="squared_number">Enter a number</label>

  <input id="squared_number" type="text" name="users_number">

  <button>Calculate square</button>
</form>
